<h1>タスク編集</h1>
<%= form_with model: @task do |f| %>
	<div class="form-group mt-3 mb-3">
		<div class="mt-1"><%= f.label :title %></div>
		<div class="mt-1"><%= f.text_field :title, class: "form-control", placeholder: "Enter task title" %></div>
		<div class="mt-1"><%= f.label :done %></div>
		<div class="mt-1"><%= f.select :done, [['未完了', false],['完了', true]], { include_blank: false, selected: @task.done} %></div>
	</div>
	<div><%= f.submit :"更新", class: "btn btn-primary" %></div>
<% end %>
<div class="d-flex flex-row-reverse mt-3 mb-3">
<%= link_to '戻る', tasks_path, class: "btn btn-secondary p-6" %>
</div>
