<h1>新規タスク</h1>
<%= form_with model: @task do |f| %>
	<div class="form-group mt-3 mb-3" >
		<div><%= f.label :title %></div>
		<div><%= f.text_field :title, class: "form-control", placeholder: "Enter task title"%></div>
	</div>
	<%= f.submit :"登録", class: "btn btn-primary" %>
<% end %>
<div class="d-flex flex-row-reverse mt-3 mb-3">
<%= link_to '戻る', tasks_path, class: "p-6" %>
</div>
